//----------------------------------*\
// Links
//----------------------------------*/
$color: #4a4a4a;

//----------------------------------*\
// Colors
//----------------------------------*/

$default-color: #979797;
$base : #f5f5f5;
$darken : darken(#F7F6F0 , 30%);
$back: darken(#F7F6F0, 40%);
$orange: #ff6428;
$warning: #ff8749;
$danger: #d94d45;
$sucessful: #40c288;
$info: #2b73c2;
$even-color: #fbfbfb;
$green: #20d280;

//----------------------------------*\
// Social networks
//----------------------------------*/
$facebook: #425f9c;
$google: #e16554;
$twitter: #1da1f2;
